@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*, .think, .go {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(12, 129, 153, 1) 100%
  );
  color:white;
  font-family: 'Press Start 2P', cursive;
}

  .header{
    font-size:24px;
    color:white;
    text-align:center;
    font-family: 'Press Start 2P', cursive;
  }

